#container{
display: flex;
justify-content: space-between;

}

#container1{
	display: flex;
	justify-content: space-between;
}
#picture {
	width: 66,6vw;
	height: 300px;
	background: beige;
	margin: auto;

}
#description{
	vertical-align: middle;
	text-align: center;
	width: 40vw;
	height: 300px;
	background: beige;
	float: right;
	font-family: "sans-serif;", Helvetica;

    margin: auto;
}
#ass1p{
	width: 40vw;
	height: 30vw;
	background: beige;
	float: left;
	text-align: center;

}
#image1{
	width: 300px;
	height: 300px;

}
#ass1t{
	float: right;
	width: 30vw;
	height: 30nw;
	background: beige;
}
h1{
	font-family: "sans-serif;", Helvetica;
	font-size: 20px;
}
p{
	font-family: "sans-serif;", Helvetica;
}
h2{
	font-family: "sans-serif;", Helvetica;
}
