#headline{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

#description{
	vertical-align: middle;
	text-align: center;
	flex: 1;
	float: right;
 	font-family: "Quicksand", sans-serif;
 	font-weight: 100px;
 	font-size: 20px;
 	font-style: normal;
 	margin: auto;
}
#1{
	flex: 1;
}
#picture {
	flex: 1;
	background: beige;
	margin: auto;
}


#assignment1{
	display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

#ass1p{
	flex: 1 1 100px; 
    background: lightblue;
    padding: 20px;
}



#ass1t{
	flex: 1 1 100px; 
    background: lightblue;
    padding: 20px;
}


#assignment2{
display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

#ass2p{
	flex: 1 1 300px; 
    background: lightblue;
    padding: 20px;

}

#ass2t{
	flex: 1 1 300px; 
    background: lightblue;
    padding: 20px;
}
#image2{
	flex: 1 1 300px; 
}
h1{
	font-weight: normal;
 	font-size: 40px;
 	font-style: normal;
 	margin: auto;
}

h2{
	font-family: "Quicksand",sans-serif;
	font-weight: normal;
	font-size: 50px;
}


h3{
	
  font-family: "Quicksand",sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h4{
	font-family: "Quicksand",sans-serif;
 	font-weight: normal;
 	font-size: 40px;
}

p{
font-family: "Quicksand", sans-serif;
font-weight:normal;
}
